/* Основные стили для бокового меню */
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 180px;
    height: 100%;
    border-right: 2px solid rgba(255, 255, 255, .2);
    padding: 0 10px;
    display: flex;
    transition: width 0.4s ease;
    transition: 0.4s;
    flex-direction: column;
}

.sidebar.collapsed {
    width: 65px; /* Сворачиваем меню */
    padding: 0; /* Убираем отступы */
}

.list .list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}

.sidebar.collapsed .list-item {
    justify-content: center; /* Центрируем иконки */
}

.list .list-item .text {
    margin-left: 10px;
}


