body {
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--g-color-line-generic);
    z-index: 10;
}


.logotype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}
.logotype .logo-menu .toggle-btn {
    text-align: center;
    cursor: pointer;
}


.navbar {
    display: flex;
    align-items: center;
    gap: 15px;

}

@media (max-width: 440px) {
    .navbar .small {
        display: none;
    }
}



