.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    z-index: 10;
}

.logotype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
}
.logotype .logo-menu .toggle-btn {
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.logotype img {
    width: 120px;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 17px;
}

@media (max-width: 440px) {
    .navbar .small {
        display: none;
    }
}



