

.content {
    margin-left: 250px; /* Начальный отступ, равный ширине свернутого меню */
    padding: 20px;
    margin-top: 80px;
    transition: margin-left 0.3s ease; /* Плавное изменение отступа */
}

/* Отступ контента при развернутом меню */
.sidebar.active ~ .content {
    margin-left: 135px; /* Положительный отступ при развернутом меню */
    padding: 20px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 45%;
}